@import "share_bar";

html, body {
  height: 100%;
}

body {
	max-width: $content-width;
	font-family: $base-font-family;
	margin: 0 auto;
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $text-color;
	padding: 2em 1em;
	text-rendering: optimizeLegibility;
	height: 100%;
	@include media-query($on-palm) {
		max-width: 100%;
		padding: 1em;
	}
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.8;
	margin: 0;
	text-transform: capitalize;
}

a {
	color: $brand-color;
	text-decoration: none;
	&:hover {
		color: $text-color;
	}
}

p a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  -webkit-transition: box-shadow ease 1s;
	-moz-transition: box-shadow ease 1s;
	transition: box-shadow ease 1s;
  &:hover {
    color: lighten($background-color, 50%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre, code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.2em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}

.headline, .post-headline {
  font-size: 2.0em;
  margin-bottom: 0.5em;

  @include media-query($on-palm) {
    font-size: 2em;
  }
}

.post-headline {
	margin-bottom: 0;
}

/* Home Button */
.home {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  opacity: 0.9;
  position: fixed;
  top: 50px;
  left: 50px;
  &:hover{
    opacity: 1;
  }
  @include media-query($on-laptop) {
    top: 90%;
    left: 90%;
    height: 30px;
    width: 30px;
    opacity: 0.6;
  }
}

/* Article list in index/home page */
.article-list {
  margin: 1em 0;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
}

// Using numbers instead of bullets for listing
#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc {
  border: 1px solid $brand-color;
  padding: 1.5em;
  list-style: decimal;
  display: inline-block;
}

/* Theme switch button */
.theme {
  cursor: pointer;
}

/* Footer */
footer {
  position: relative;
  top: 2em;
}

header {
	padding-bottom: $spacing-unit * 2.0;
	@include media-query($on-smaller-palm) {
		padding: 0 0;
	}
}

/* navigation links */
#links a, #links-bottom a {
  margin-right: 0.5em;
}

#envelope a:hover {
	background-color: #fff;
}

#twitter a:hover {
	background-color: #fff;
}

#links-bottom {

}

#links {
	float: right;
	@include media-query($on-smaller-palm) {
		float: none;
		position: unset;
	}
}

#logo {
	float: left;
	font-family: 'Jockey One', sans-serif;
	font-size: $base-font-size * 1.8;
	position: absolute;
	@include media-query($on-smaller-palm) {
		float: none;
		position: unset;
	}
}

span.logo-em {
	font-style: italic;
	font-weight: bold;
}

#logo a {
	color: darken($brand-color, 18%);;
}

/* Footer copyrights */
#copy {
  color: #aaa;
	font-size: $small-font-size;
	padding: $spacing-unit 0;
	text-align: center;
}

/* Horizontal Divider */
.divider {
  margin: 1em 0;
}

#subscribe-rss {
	font-size: medium;
	padding-top: $spacing-unit;
}

.post-meta {
	color: $grey-color;
	font-size: $small-font-size;
	font-style: italic;
}

div.pagination {
	padding-top: $spacing-unit;
}

h1.tag-headline, h2.tag-headline {
	text-transform: none;
}

code.tag {
	background-color: $brand-color;
	color: lighten($background-color, 50%);
}

li.tag-list {
	padding-bottom: 0.6em;
	list-style: none;
}

.tag-cloud {
	padding: $spacing-unit 0;
}

figcaption {
	color: $grey-color;
	font-size: $small-font-size;
	font-style: italic;
}

.media-video {
	padding: ($spacing-unit / 2) 0;
}
